.employees {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgb(231, 231, 233);
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  height: 100%;
  padding: 50px;
}

.employees__add-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.employees__add,
.employees__read {
  background-color: #004961;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employees__add:hover {
  background-color: rgba(0, 73, 97, 0.9);
}

.employees table th:nth-child(6) {
  width: 180px;
}

.employees table th:nth-child(7){
  width: 250px;
}

.employees__form {
  justify-content: space-between;
}

.employees__field {
  flex-basis: 48%;
}

.employees__submit {
  display: flex;
  margin-top: 10px;
  flex-basis: 100%;
  justify-content: flex-end;
}

.employees__alert {
  text-align: center;
  flex-basis: 100%;
}