.dashboard {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgb(241, 242, 244);
  display: flex;
  flex-basis: 100%;
  height: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.dashboard__title {
  margin: 0;
  color: #004961;
  font-size: 40px;
}

.dashboard__poster {
  margin-bottom: 100px;
}
